<div class="opnet-compact" *ngIf="opnet">
  <!-- Type + Badges Row -->
  <div class="opnet-row header-row">
    <span class="type-badge" [ngClass]="opnet.opnetType?.toLowerCase()">{{ opnet.opnetType }}</span>
    <span class="feature-badge bip360" *ngIf="opnet.mldsaLink || opnet.features?.hasMLDSALink"><span class="q">Q</span>BIP360</span>
    <span class="feature-badge epoch" *ngIf="opnet.epochSubmission || opnet.features?.hasEpochSubmission">EPOCH</span>
  </div>

  <!-- MLDSA Info -->
  <div class="opnet-row" *ngIf="opnet.mldsaLink">
    <span class="row-icon mldsa">Q</span>
    <span class="row-label">ML-DSA</span>
    <span class="level-badge" [ngClass]="opnet.mldsaLink.level?.toLowerCase()">{{ opnet.mldsaLink.level }}</span>
    <span class="row-value mono">{{ truncateKey(opnet.mldsaLink.hashedPublicKey, 12) }}</span>
    <button class="cp" (click)="copyToClipboard(opnet.mldsaLink.hashedPublicKey)"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button>
  </div>

  <!-- Epoch Info -->
  <div class="opnet-row" *ngIf="opnet.epochSubmission">
    <span class="row-icon epoch">E</span>
    <span class="row-label">Epoch</span>
    <span class="row-value highlight">#{{ opnet.epochSubmission.epochNumber }}</span>
    <span class="row-value mono" *ngIf="opnet.epochSubmission.minerPublicKey">{{ truncateKey(opnet.epochSubmission.minerPublicKey, 10) }}</span>
    <button class="cp" *ngIf="opnet.epochSubmission.minerPublicKey" (click)="copyToClipboard(opnet.epochSubmission.minerPublicKey)"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button>
  </div>

  <!-- Contract Interaction -->
  <div class="opnet-row" *ngIf="opnet.interaction">
    <span class="row-icon contract">C</span>
    <span class="row-label">Contract</span>
    <a [routerLink]="['/address', opnet.interaction.contractAddress]" class="row-value mono link">{{ truncateKey(opnet.interaction.contractAddress, 10) }}</a>
    <button class="cp" (click)="copyToClipboard(opnet.interaction.contractAddress)"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button>
    <span class="row-extra">{{ opnet.interaction.calldataLength }}B</span>
  </div>

  <!-- Deployment -->
  <div class="opnet-row" *ngIf="opnet.deployment">
    <span class="row-icon deploy">D</span>
    <span class="row-label">Deploy</span>
    <a [routerLink]="['/address', opnet.deployment.contractAddress]" class="row-value mono link">{{ truncateKey(opnet.deployment.contractAddress, 10) }}</a>
    <button class="cp" (click)="copyToClipboard(opnet.deployment.contractAddress)"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button>
    <span class="row-extra">{{ opnet.deployment.bytecodeLength | number }}B</span>
  </div>

  <!-- Gas -->
  <div class="opnet-row" *ngIf="opnet.gasInfo && (opnet.gasInfo.gasUsed !== '0' || opnet.gasInfo.specialGasUsed !== '0')">
    <span class="row-icon gas">G</span>
    <span class="row-label">Gas</span>
    <span class="row-value" *ngIf="opnet.gasInfo.gasUsed !== '0'">{{ opnet.gasInfo.gasUsed | number }}</span>
    <span class="row-value muted" *ngIf="opnet.gasInfo.specialGasUsed !== '0'">+{{ opnet.gasInfo.specialGasUsed | number }} special</span>
  </div>
</div>
