.bowtie {
  &.rtl {
    transform: scale(-1, 1);
  }

  .line {
    fill: none;

    &.input {
      stroke: url(#input-gradient);
    }
    &.output {
      stroke: url(#output-gradient);
    }
    &.fee {
      stroke: url(#fee-gradient);
    }
    &.contract {
      stroke: url(#contract-gradient);
    }
    &.mldsa {
      stroke: url(#mldsa-gradient);
    }
    &.epoch {
      stroke: url(#epoch-gradient);
    }
    &.zerovalue {
      stroke: url(#gradient0);
      stroke-linecap: round;
    }

    &.highlight {
      z-index: 8;
      cursor: pointer;
      &.input {
        stroke: url(#input-highlight-gradient);
      }
      &.output {
        stroke: url(#output-highlight-gradient);
      }
      &.contract {
        stroke: url(#contract-highlight-gradient);
      }
      &.mldsa {
        stroke: url(#mldsa-highlight-gradient);
      }
      &.epoch {
        stroke: url(#epoch-highlight-gradient);
      }
      &.zerovalue {
        stroke: var(--info);
      }
    }
  }

  .line:hover, .marker-target:hover + .line {
    z-index: 10;
    cursor: pointer;
    &.input {
      stroke: url(#input-hover-gradient);
    }
    &.output {
      stroke: url(#output-hover-gradient);
    }
    &.fee {
      stroke: url(#fee-hover-gradient);
    }
    &.contract {
      stroke: url(#contract-hover-gradient);
    }
    &.mldsa {
      stroke: url(#mldsa-hover-gradient);
    }
    &.epoch {
      stroke: url(#epoch-hover-gradient);
    }
    &.zerovalue {
      stroke: white;
    }
  }

  .connector {
    stroke: none;
    opacity: 0.75;
    cursor: pointer;
    &.input {
      fill: url(#input-connector-gradient);
    }
    &.output {
      fill: url(#output-connector-gradient);
    }
    &.contract {
      fill: url(#contract-connector-gradient);
    }
    &.mldsa {
      fill: url(#mldsa-connector-gradient);
    }
    &.epoch {
      fill: url(#epoch-connector-gradient);
    }
  }

  .connector:hover {
    &.input {
      fill: url(#input-hover-connector-gradient);
    }
    &.output {
      fill: url(#output-hover-connector-gradient);
    }
    &.contract {
      fill: url(#contract-hover-gradient);
    }
    &.mldsa {
      fill: url(#mldsa-hover-gradient);
    }
    &.epoch {
      fill: url(#epoch-hover-gradient);
    }
  }

  .marker-target {
    stroke: none;
    fill: transparent;
    cursor: pointer;
  }
}