<div class="container-xl">

  <div class="title-block">
    <div *ngIf="rbfTransaction && !tx?.status?.confirmed" class="alert alert-mempool" role="alert">
      <span i18n="transaction.rbf.replacement|RBF replacement">This transaction has been replaced by:</span>
      <app-truncate [text]="rbfTransaction.txid" [lastChars]="12" [link]="['/tx/' | relativeUrl, rbfTransaction.txid]"></app-truncate>
    </div>

    <ng-container *ngIf="!rbfTransaction || rbfTransaction?.size || tx">
      <h1 i18n="shared.transaction">Transaction</h1>

      <span class="tx-link">
        <span class="txid">
          <app-truncate [text]="txId" [lastChars]="12" [link]="['/tx/' | relativeUrl, txId]">
            <app-clipboard [text]="txId"></app-clipboard>
          </app-truncate>
        </span>
      </span>

      <div class="container-buttons">
        <app-confirmations
          *ngIf="tx"
          [chainTip]="latestBlock?.height"
          [height]="tx?.status?.block_height"
          [replaced]="replaced"
          [removed]="this.rbfInfo?.mined && !this.tx?.status?.confirmed"
          [cached]="isCached"
        ></app-confirmations>
      </div>
    </ng-container>
  </div>
  <div class="clearfix"></div>

  @if (duplicateTxBlocks) {
    <div class="box duplicate-tx-alert">
      <div class="icon-container">
        <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"></fa-icon>
      </div>
      <span>
        <ng-container i18n="transaction.duplicate.notice|Duplicate transaction notice">
          This transaction ID appears twice in the blockchain as the coinbase of blocks <a [routerLink]="['/block/' | relativeUrl, duplicateTxBlocks[0]]">{{ duplicateTxBlocks[0] }}</a> and <a [routerLink]="['/block/' | relativeUrl, duplicateTxBlocks[1]]">{{ duplicateTxBlocks[1] }}</a>, due to a bug later mitigated by <a href="https://github.com/bitcoin/bips/blob/master/bip-0030.mediawiki" target="_blank" rel="noopener">BIP-30</a>.
        </ng-container>
        <span class="mr-3"></span>
        <a href="https://blog.bitmex.com/bitcoins-duplicate-transactions/" target="_blank" rel="noopener" i18n="transaction.duplicate.read-more|Duplicate transaction read more" style="white-space: nowrap;">Read more</a>
      </span>
    </div>
  }

  @if (!error) {
    <app-transaction-details
      [network]="network"
      [tx]="tx"
      [isLoadingTx]="isLoadingTx"
      [isMobile]="isMobile"
      [transactionTime]="transactionTime"
      [isLoadingFirstSeen]="isLoadingFirstSeen"
      [featuresEnabled]="featuresEnabled"
      [auditStatus]="auditStatus"
      [filters]="filters"
      [miningStats]="miningStats"
      [pool]="pool"
      [isAcceleration]="isAcceleration"
      [acceleratorAvailable]="acceleratorAvailable"
      [accelerateCtaType]="accelerateCtaType"
      [notAcceleratedOnLoad]="notAcceleratedOnLoad"
      [showAccelerationSummary]="showAccelerationSummary"
      [eligibleForAcceleration]="eligibleForAcceleration"
      [hasEffectiveFeeRate]="hasEffectiveFeeRate"
      [cpfpInfo]="cpfpInfo"
      [hasCpfp]="hasCpfp"
      [accelerationInfo]="accelerationInfo"
      [replaced]="replaced"
      [isCached]="isCached"
      [ETA$]="ETA$"
      (accelerateClicked)="onAccelerateClicked()"
      (toggleCpfp$)="this.showCpfpDetails = !this.showCpfpDetails"
    ></app-transaction-details>

    <!-- OPNet Smart Contract Info Bar -->
    <div class="opnet-info-bar" *ngIf="tx?.opnet">
      <div class="opnet-info-content">
        <div class="opnet-type-section">
          <span class="opnet-label">OPNet</span>
          <span class="opnet-type-badge" [ngClass]="{
            'type-generic': tx.opnet.opnetType === 'Generic',
            'type-deployment': tx.opnet.opnetType === 'Deployment',
            'type-interaction': tx.opnet.opnetType === 'Interaction'
          }">{{ tx.opnet.opnetType }}</span>
        </div>
        <div class="opnet-features">
          <span *ngIf="tx.opnet.features?.hasMLDSALink || tx.opnet.mldsaLink" class="opnet-feature-badge feature-quantum">
            <span class="quantum-icon">Q</span>BIP360
          </span>
          <span *ngIf="tx.opnet.features?.hasEpochSubmission || tx.opnet.epochSubmission" class="opnet-feature-badge feature-epoch">
            Epoch #{{ tx.opnet.epochSubmission?.epochNumber || '?' }}
          </span>
          <span *ngIf="tx.opnet.interaction" class="opnet-contract-address">
            <fa-icon [icon]="['fas', 'code']" [fixedWidth]="true"></fa-icon>
            <a [routerLink]="['/address', tx.opnet.interaction.contractAddress]" class="contract-link">
              {{ tx.opnet.interaction.contractAddress | slice:0:10 }}...{{ tx.opnet.interaction.contractAddress | slice:-6 }}
            </a>
          </span>
          <span *ngIf="tx.opnet.deployment" class="opnet-contract-address">
            <fa-icon [icon]="['fas', 'rocket']" [fixedWidth]="true"></fa-icon>
            <a [routerLink]="['/address', tx.opnet.deployment.contractAddress]" class="contract-link">
              {{ tx.opnet.deployment.contractAddress | slice:0:10 }}...{{ tx.opnet.deployment.contractAddress | slice:-6 }}
            </a>
          </span>
        </div>
        <button type="button" class="opnet-details-btn" (click)="openOPNetModal()">
          <fa-icon [icon]="['fas', 'external-link-alt']" [fixedWidth]="true"></fa-icon>
          Details
        </button>
      </div>
    </div>
  }

  <ng-template [ngIf]="!isLoadingTx && !error">

    <!-- CPFP Details -->
    <app-cpfp-info *ngIf="showCpfpDetails" [cpfpInfo]="cpfpInfo" [tx]="tx"></app-cpfp-info>

    <!-- Accelerator -->
    <ng-container *ngIf="!tx?.status?.confirmed && showAccelerationSummary && (ETA$ | async) as eta;">
      <span id='accelerate' #accelerate class="anchor"></span>
      <br>
      <div class="title float-left mb-1">
        <h2><a [href]="[ isMempoolSpaceBuild ? '/accelerator' : 'https://mempool.space/accelerator']" [target]="isMempoolSpaceBuild ? '' : 'blank'"><app-svg-images name="accelerator" [height]="isMobile ? '35px' : '45px'"></app-svg-images></a></h2>
      </div>
      <button type="button" class="btn btn-outline-info accelerator-toggle btn-sm float-right" [class.hide-on-mobile]="hasAccelerationDetails" (click)="closeAccelerator()" i18n="accelerator.hide">Hide accelerator</button>
      <button *ngIf="hasAccelerationDetails" class="btn btn-sm btn-outline-info details-button float-right ml-2" (click)="showAccelerationDetails = !showAccelerationDetails" i18n="transaction.details|Transaction Details">Details</button>

      <div class="clearfix"></div>

      <app-accelerate-checkout
        *ngIf="(da$ | async) as da;"
        [advancedEnabled]="true"
        [tx]="tx"
        [accelerating]="isAcceleration"
        [eta]="eta"
        [miningStats]="miningStats"
        [showDetails]="showAccelerationDetails"
        [noCTA]="true"
        [referralCode]="this.referralCode"
        (hasDetails)="setHasAccelerationDetails($event)"
        (completed)="onAccelerationCompleted()"
        (unavailable)="eligibleForAcceleration = false"
        class="h-100 w-100"
      ></app-accelerate-checkout>
    </ng-container>

    <br>

    <ng-container *ngIf="rbfInfo">
      <div class="title float-left">
        <h2 id="rbf" i18n="transaction.rbf-history|RBF Timeline">RBF Timeline</h2>
      </div>
      <div class="clearfix"></div>
      <app-rbf-timeline [txid]="txId" [replacements]="rbfInfo"></app-rbf-timeline>
      <br>
    </ng-container>

    <ng-container *ngIf="transactionTime > 0 && tx.acceleratedAt > 0 && (isAcceleration || accelerationCanceled)">
      <div class="title float-left">
        <h2 id="acceleration-timeline" i18n="transaction.acceleration-timeline|Acceleration Timeline">Acceleration Timeline</h2>
      </div>
      <div class="clearfix"></div>
      <app-acceleration-timeline [transactionTime]="transactionTime" [acceleratedAt]="tx.acceleratedAt" [tx]="tx" [accelerationInfo]="accelerationInfo" [eta]="(ETA$ | async)" [canceled]="accelerationCanceled"></app-acceleration-timeline>
      <br>
    </ng-container>

    <ng-container *ngIf="flowEnabled; else flowPlaceholder">
      <div class="title float-left">
        <h2 id="flow" #flow class="anchor" i18n="transaction.flow|Transaction flow">Flow</h2>
      </div>

      <button type="button" class="btn btn-outline-info flow-toggle btn-sm float-right" (click)="toggleGraph()" i18n="hide-diagram">Hide diagram</button>

      <div class="clearfix"></div>

      <div class="box">
        <div class="graph-container" #graphContainer>
          <tx-bowtie-graph
            [tx]="tx"
            [cached]="isCached"
            [width]="graphWidth"
            [height]="graphHeight"
            [lineLimit]="inOutLimit"
            [maxStrands]="graphExpanded ? maxInOut : 24"
            [network]="network"
            [tooltip]="true"
            [connectors]="true"
            [inputIndex]="inputIndex" [outputIndex]="outputIndex"
          >
          </tx-bowtie-graph>
        </div>
        <div class="toggle-wrapper" *ngIf="maxInOut > 24">
          <button class="btn btn-sm btn-primary graph-toggle" (click)="expandGraph();" *ngIf="!graphExpanded; else collapseBtn"><span i18n="show-more">Show more</span></button>
          <ng-template #collapseBtn>
            <button class="btn btn-sm btn-primary graph-toggle" (click)="collapseGraph();"><span i18n="show-less">Show less</span></button>
          </ng-template>
        </div>
      </div>

      <br>
    </ng-container>
    <ng-template #flowPlaceholder>
      <div class="box hidden">
        <div class="graph-container" #graphContainer>
        </div>
      </div>
    </ng-template>

    <div class="subtitle-block">
      <div class="title">
        <h2 i18n="transaction.inputs-and-outputs|Transaction inputs and outputs">Inputs & Outputs</h2>
      </div>

      <div class="title-buttons">
        <button *ngIf="!flowEnabled" type="button" class="btn btn-outline-info flow-toggle btn-sm" (click)="toggleGraph()" i18n="show-diagram">Show diagram</button>
        <button type="button" class="btn btn-outline-info btn-sm" (click)="toggleDetailsFromTxPage()" i18n="transaction.details|Transaction Details">Details</button>
      </div>
    </div>


    <app-transactions-list #txList [transactions]="[tx]" [cached]="isCached" [errorUnblinded]="errorUnblinded" [inputIndex]="inputIndex" [outputIndex]="outputIndex" [transactionPage]="true"></app-transactions-list>

    <div class="title text-left">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>
    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td i18n="block.size">Size</td>
                <td [innerHTML]="'&lrm;' + (tx.size | bytes: 2)"></td>
              </tr>
              <tr>
                <td i18n="transaction.vsize|Transaction Virtual Size">Virtual size</td>
                <td [innerHTML]="'&lrm;' + (tx.weight / 4 | vbytes: 2)"></td>
              </tr>
              <tr *ngIf="adjustedVsize != null">
                <td><ng-container i18n="transaction.adjusted-vsize|Transaction Adjusted VSize">Adjusted vsize</ng-container>
                  <a class="info-link" [routerLink]="['/docs/faq/' | relativeUrl]" fragment="what-is-adjusted-vsize">
                    <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"></fa-icon>
                  </a>
                </td>
                <td [innerHTML]="'&lrm;' + (adjustedVsize | vbytes: 2)"></td>
              </tr>
              <tr>
                <td i18n="block.weight">Weight</td>
                <td [innerHTML]="'&lrm;' + (tx.weight | wuBytes: 2)"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td i18n="transaction.version">Version</td>
                <td [innerHTML]="'&lrm;' + (tx.version | number)"></td>
              </tr>
              <tr>
                <td i18n="transaction.locktime">Locktime</td>
                <td [innerHTML]="'&lrm;' + (tx.locktime | number)"></td>
              </tr>
              <tr *ngIf="sigops != null">
                <td><ng-container i18n="transaction.sigops|Transaction Sigops">Sigops</ng-container>
                  <a class="info-link" [routerLink]="['/docs/faq/' | relativeUrl]" fragment="what-are-sigops">
                    <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"></fa-icon>
                  </a>
                </td>
                <td [innerHTML]="'&lrm;' + (sigops | number)"></td>
              </tr>
              <tr>
                <td i18n="transaction.hex">Transaction hex</td>
                <td><a target="_blank" href="{{ network === '' ? '' : '/' + network }}/api/tx/{{ txId }}/hex"><fa-icon [icon]="['fas', 'external-link-alt']" [fixedWidth]="true"></fa-icon></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- OPNet Details Modal -->
    <ng-template #opnetModal let-modal>
      <div class="opnet-modal" *ngIf="tx?.opnet">
        <div class="opnet-modal-header">
          <div class="opnet-modal-title">
            <span class="opnet-icon">
              <fa-icon [icon]="['fas', 'cogs']" [fixedWidth]="true"></fa-icon>
            </span>
            OPNet Transaction
          </div>
          <button type="button" class="opnet-modal-close" aria-label="Close" (click)="modal.dismiss()">
            <fa-icon [icon]="['fas', 'circle-xmark']" [fixedWidth]="true"></fa-icon>
          </button>
        </div>

        <div class="opnet-modal-content">
          <!-- Transaction Type & Features Card -->
          <div class="opnet-card">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'filter']" [fixedWidth]="true"></fa-icon>
              Transaction Type
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field">
                <span class="opnet-field-label">Type</span>
                <span class="opnet-field-value">
                  <span class="opnet-type-tag" [ngClass]="{
                    'type-generic': tx.opnet.opnetType === 'Generic',
                    'type-deployment': tx.opnet.opnetType === 'Deployment',
                    'type-interaction': tx.opnet.opnetType === 'Interaction'
                  }">{{ tx.opnet.opnetType }}</span>
                </span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.features">
                <span class="opnet-field-label">Feature Flags</span>
                <div class="opnet-field-value opnet-features-row">
                  <span class="opnet-tag" [class.tag-active]="tx.opnet.features.hasAccessList" [class.tag-inactive]="!tx.opnet.features.hasAccessList">
                    Access List
                  </span>
                  <span class="opnet-tag" [class.tag-active]="tx.opnet.features.hasEpochSubmission" [class.tag-inactive]="!tx.opnet.features.hasEpochSubmission">
                    Epoch
                  </span>
                  <span class="opnet-tag" [class.tag-active]="tx.opnet.features.hasMLDSALink" [class.tag-inactive]="!tx.opnet.features.hasMLDSALink">
                    MLDSA
                  </span>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.features?.featureFlags">
                <span class="opnet-field-label">Raw Flags (Hex)</span>
                <span class="opnet-field-value">
                  <span class="opnet-hash">0x{{ tx.opnet.features.featureFlags.toString(16).padStart(6, '0') }}</span>
                </span>
              </div>
            </div>
          </div>

          <!-- Contract Interaction Card -->
          <div class="opnet-card" *ngIf="tx.opnet.interaction">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'code']" [fixedWidth]="true"></fa-icon>
              Contract Interaction
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field">
                <span class="opnet-field-label">Contract Address</span>
                <div class="opnet-field-value">
                  <a [routerLink]="['/address', tx.opnet.interaction.contractAddress]" class="opnet-address" (click)="modal.dismiss()">
                    {{ tx.opnet.interaction.contractAddress }}
                  </a>
                  <app-clipboard [text]="tx.opnet.interaction.contractAddress"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.from">
                <span class="opnet-field-label">From Address</span>
                <div class="opnet-field-value">
                  <a [routerLink]="['/address', tx.opnet.interaction.from]" class="opnet-address" (click)="modal.dismiss()">
                    {{ tx.opnet.interaction.from }}
                  </a>
                  <app-clipboard [text]="tx.opnet.interaction.from"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.calldataLength">
                <span class="opnet-field-label">Calldata Size</span>
                <span class="opnet-field-value">
                  {{ tx.opnet.interaction.calldataLength | number }} bytes
                  <span *ngIf="tx.opnet.interaction.wasCompressed" class="opnet-tag tag-compressed">Compressed</span>
                </span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.calldata">
                <span class="opnet-field-label">Calldata (Hex)</span>
                <div class="opnet-field-value opnet-expandable">
                  <span class="opnet-hash opnet-truncate">{{ tx.opnet.interaction.calldata }}</span>
                  <app-clipboard [text]="tx.opnet.interaction.calldata"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.senderPubKeyHash">
                <span class="opnet-field-label">Sender PubKey Hash</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.interaction.senderPubKeyHash }}</span>
                  <app-clipboard [text]="tx.opnet.interaction.senderPubKeyHash"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.interactionPubKey">
                <span class="opnet-field-label">Interaction PubKey</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.interaction.interactionPubKey }}</span>
                  <app-clipboard [text]="tx.opnet.interaction.interactionPubKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.interaction.contractSecret">
                <span class="opnet-field-label">Contract Secret</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.interaction.contractSecret }}</span>
                  <app-clipboard [text]="tx.opnet.interaction.contractSecret"></app-clipboard>
                </div>
              </div>
            </div>
          </div>

          <!-- Contract Deployment Card -->
          <div class="opnet-card" *ngIf="tx.opnet.deployment">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'rocket']" [fixedWidth]="true"></fa-icon>
              Contract Deployment
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field">
                <span class="opnet-field-label">Contract Address</span>
                <div class="opnet-field-value">
                  <a [routerLink]="['/address', tx.opnet.deployment.contractAddress]" class="opnet-address" (click)="modal.dismiss()">
                    {{ tx.opnet.deployment.contractAddress }}
                  </a>
                  <app-clipboard [text]="tx.opnet.deployment.contractAddress"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.contractPublicKey">
                <span class="opnet-field-label">Contract Public Key</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.deployment.contractPublicKey }}</span>
                  <app-clipboard [text]="tx.opnet.deployment.contractPublicKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.deployerAddress">
                <span class="opnet-field-label">Deployer Address</span>
                <div class="opnet-field-value">
                  <a [routerLink]="['/address', tx.opnet.deployment.deployerAddress]" class="opnet-address" (click)="modal.dismiss()">
                    {{ tx.opnet.deployment.deployerAddress }}
                  </a>
                  <app-clipboard [text]="tx.opnet.deployment.deployerAddress"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.deployerPubKey">
                <span class="opnet-field-label">Deployer PubKey</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.deployment.deployerPubKey }}</span>
                  <app-clipboard [text]="tx.opnet.deployment.deployerPubKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field">
                <span class="opnet-field-label">Bytecode Size</span>
                <span class="opnet-field-value">
                  {{ tx.opnet.deployment.bytecodeLength | number }} bytes
                  <span *ngIf="tx.opnet.deployment.wasCompressed" class="opnet-tag tag-compressed">Compressed</span>
                </span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.bytecode">
                <span class="opnet-field-label">Bytecode (Hex)</span>
                <div class="opnet-field-value opnet-expandable">
                  <span class="opnet-hash opnet-truncate">{{ tx.opnet.deployment.bytecode }}</span>
                  <app-clipboard [text]="tx.opnet.deployment.bytecode"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.contractSeed">
                <span class="opnet-field-label">Contract Seed</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.deployment.contractSeed }}</span>
                  <app-clipboard [text]="tx.opnet.deployment.contractSeed"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.deployment.contractSaltHash">
                <span class="opnet-field-label">Contract Salt Hash</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.deployment.contractSaltHash }}</span>
                  <app-clipboard [text]="tx.opnet.deployment.contractSaltHash"></app-clipboard>
                </div>
              </div>
            </div>
          </div>

          <!-- BIP360 / MLDSA Card -->
          <div class="opnet-card card-quantum" *ngIf="tx.opnet.mldsaLink">
            <div class="opnet-card-header">
              <span class="quantum-badge">Q</span>
              BIP360 Quantum-Safe Key Linking
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field">
                <span class="opnet-field-label">Security Level</span>
                <span class="opnet-field-value">
                  <span class="opnet-level-badge" [ngClass]="{
                    'level-2': tx.opnet.mldsaLink.level === 'LEVEL2',
                    'level-3': tx.opnet.mldsaLink.level === 'LEVEL3',
                    'level-5': tx.opnet.mldsaLink.level === 'LEVEL5'
                  }">{{ tx.opnet.mldsaLink.level }}</span>
                  <span class="opnet-algorithm">
                    {{ tx.opnet.mldsaLink.level === 'LEVEL2' ? 'ML-DSA-44 (2420 byte keys)' :
                       tx.opnet.mldsaLink.level === 'LEVEL3' ? 'ML-DSA-65 (1952 byte keys)' : 'ML-DSA-87 (2592 byte keys)' }}
                  </span>
                </span>
              </div>
              <div class="opnet-field">
                <span class="opnet-field-label">Verification Status</span>
                <span class="opnet-field-value">
                  <span class="opnet-tag" [class.tag-verified]="tx.opnet.mldsaLink.isVerified" [class.tag-pending]="!tx.opnet.mldsaLink.isVerified">
                    <fa-icon [icon]="tx.opnet.mldsaLink.isVerified ? ['fas', 'circle-check'] : ['fas', 'clock']" [fixedWidth]="true"></fa-icon>
                    {{ tx.opnet.mldsaLink.isVerified ? 'Verified' : 'Pending' }}
                  </span>
                </span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.mldsaLink.hashedPublicKey">
                <span class="opnet-field-label">Hashed Public Key (SHA256)</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.mldsaLink.hashedPublicKey }}</span>
                  <app-clipboard [text]="tx.opnet.mldsaLink.hashedPublicKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.mldsaLink.fullPublicKey">
                <span class="opnet-field-label">Full ML-DSA Public Key</span>
                <div class="opnet-field-value opnet-expandable">
                  <span class="opnet-hash opnet-truncate">{{ tx.opnet.mldsaLink.fullPublicKey }}</span>
                  <app-clipboard [text]="tx.opnet.mldsaLink.fullPublicKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.mldsaLink.tweakedKey">
                <span class="opnet-field-label">Tweaked secp256k1 Key</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.mldsaLink.tweakedKey }}</span>
                  <app-clipboard [text]="tx.opnet.mldsaLink.tweakedKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.mldsaLink.originalKey">
                <span class="opnet-field-label">Original secp256k1 Key</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.mldsaLink.originalKey }}</span>
                  <app-clipboard [text]="tx.opnet.mldsaLink.originalKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.mldsaLink.legacySignature">
                <span class="opnet-field-label">Legacy Schnorr Signature</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.mldsaLink.legacySignature }}</span>
                  <app-clipboard [text]="tx.opnet.mldsaLink.legacySignature"></app-clipboard>
                </div>
              </div>
            </div>
          </div>

          <!-- Epoch Submission Card -->
          <div class="opnet-card card-epoch" *ngIf="tx.opnet.epochSubmission">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'bolt']" [fixedWidth]="true"></fa-icon>
              Epoch Mining Submission
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field">
                <span class="opnet-field-label">Epoch Number</span>
                <span class="opnet-field-value opnet-epoch-number">#{{ tx.opnet.epochSubmission.epochNumber }}</span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.minerPublicKey">
                <span class="opnet-field-label">Miner Address</span>
                <div class="opnet-field-value">
                  <a [routerLink]="['/address', tx.opnet.epochSubmission.minerPublicKey]" class="opnet-address" (click)="modal.dismiss()">
                    {{ tx.opnet.epochSubmission.minerPublicKey }}
                  </a>
                  <app-clipboard [text]="tx.opnet.epochSubmission.minerPublicKey"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.solution">
                <span class="opnet-field-label">PoW Solution (SHA-1)</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.epochSubmission.solution }}</span>
                  <app-clipboard [text]="tx.opnet.epochSubmission.solution"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.salt">
                <span class="opnet-field-label">Random Salt</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.epochSubmission.salt }}</span>
                  <app-clipboard [text]="tx.opnet.epochSubmission.salt"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.signature">
                <span class="opnet-field-label">Submission Signature</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.epochSubmission.signature }}</span>
                  <app-clipboard [text]="tx.opnet.epochSubmission.signature"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.graffiti">
                <span class="opnet-field-label">Graffiti Message</span>
                <span class="opnet-field-value opnet-graffiti">"{{ tx.opnet.epochSubmission.graffiti }}"</span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.epochSubmission.graffitiHex">
                <span class="opnet-field-label">Graffiti (Hex)</span>
                <div class="opnet-field-value">
                  <span class="opnet-hash">{{ tx.opnet.epochSubmission.graffitiHex }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Gas Usage Card -->
          <div class="opnet-card" *ngIf="tx.opnet.gasInfo">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'tachometer-alt']" [fixedWidth]="true"></fa-icon>
              Gas Usage
            </div>
            <div class="opnet-card-body">
              <div class="opnet-gas-row" *ngIf="tx.opnet.gasInfo.estimatedGas && +tx.opnet.gasInfo.estimatedGas > 0">
                <span class="opnet-gas-label">Estimated</span>
                <span class="opnet-gas-value">{{ tx.opnet.gasInfo.estimatedGas | number }}</span>
              </div>
              <div class="opnet-gas-row">
                <span class="opnet-gas-label">Used</span>
                <span class="opnet-gas-value">{{ tx.opnet.gasInfo.gasUsed | number }}</span>
              </div>
              <div class="opnet-gas-row" *ngIf="+tx.opnet.gasInfo.specialGasUsed > 0">
                <span class="opnet-gas-label">Special Gas</span>
                <span class="opnet-gas-value">{{ tx.opnet.gasInfo.specialGasUsed | number }}</span>
              </div>
              <div class="opnet-gas-row" *ngIf="tx.opnet.gasInfo.refundedGas && +tx.opnet.gasInfo.refundedGas > 0">
                <span class="opnet-gas-label">Refunded</span>
                <span class="opnet-gas-value opnet-gas-refund">+{{ tx.opnet.gasInfo.refundedGas | number }}</span>
              </div>
            </div>
          </div>

          <!-- Receipt Card -->
          <div class="opnet-card" *ngIf="tx.opnet.receipt">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'file-alt']" [fixedWidth]="true"></fa-icon>
              Transaction Receipt
            </div>
            <div class="opnet-card-body">
              <div class="opnet-field" *ngIf="tx.opnet.receipt.revert">
                <span class="opnet-field-label">Revert Reason</span>
                <span class="opnet-field-value opnet-revert">{{ tx.opnet.receipt.revert }}</span>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.receipt.receipt">
                <span class="opnet-field-label">Receipt Data</span>
                <div class="opnet-field-value opnet-expandable">
                  <span class="opnet-hash opnet-truncate">{{ tx.opnet.receipt.receipt }}</span>
                  <app-clipboard [text]="tx.opnet.receipt.receipt"></app-clipboard>
                </div>
              </div>
              <div class="opnet-field" *ngIf="tx.opnet.receipt.receiptProofs?.length">
                <span class="opnet-field-label">Receipt Proofs</span>
                <span class="opnet-field-value">{{ tx.opnet.receipt.receiptProofs.length }} proof(s)</span>
              </div>
            </div>
          </div>

          <!-- Contract Events Card -->
          <div class="opnet-card" *ngIf="tx.opnet.events?.length">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'bolt']" [fixedWidth]="true"></fa-icon>
              Contract Events ({{ tx.opnet.events.length }})
            </div>
            <div class="opnet-card-body">
              <div class="opnet-event" *ngFor="let event of tx.opnet.events; let i = index">
                <div class="opnet-event-header">
                  <span class="opnet-event-index">#{{ i + 1 }}</span>
                  <span class="opnet-event-type">{{ event.type }}</span>
                </div>
                <div class="opnet-field">
                  <span class="opnet-field-label">Contract</span>
                  <div class="opnet-field-value">
                    <a [routerLink]="['/address', event.contractAddress]" class="opnet-address" (click)="modal.dismiss()">
                      {{ event.contractAddress | slice:0:20 }}...{{ event.contractAddress | slice:-8 }}
                    </a>
                  </div>
                </div>
                <div class="opnet-field" *ngIf="event.data">
                  <span class="opnet-field-label">Data</span>
                  <div class="opnet-field-value opnet-expandable">
                    <span class="opnet-hash opnet-truncate">{{ event.data }}</span>
                    <app-clipboard [text]="event.data"></app-clipboard>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Access List Card -->
          <div class="opnet-card" *ngIf="tx.opnet.accessList && (tx.opnet.accessList | keyvalue)?.length">
            <div class="opnet-card-header">
              <fa-icon [icon]="['fas', 'database']" [fixedWidth]="true"></fa-icon>
              Storage Access List
            </div>
            <div class="opnet-card-body">
              <div class="opnet-access-entry" *ngFor="let entry of tx.opnet.accessList | keyvalue">
                <div class="opnet-field">
                  <span class="opnet-field-label">Contract</span>
                  <div class="opnet-field-value">
                    <a [routerLink]="['/address', entry.key]" class="opnet-address" (click)="modal.dismiss()">
                      {{ entry.key | slice:0:20 }}...{{ entry.key | slice:-8 }}
                    </a>
                  </div>
                </div>
                <div class="opnet-storage-keys">
                  <div class="opnet-storage-key" *ngFor="let storage of entry.value | keyvalue">
                    <span class="opnet-field-label">{{ storage.key | slice:0:16 }}...</span>
                    <span class="opnet-hash">{{ storage.value | slice:0:32 }}...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="opnet-modal-footer">
          <button type="button" class="opnet-btn" (click)="modal.close()">Close</button>
        </div>
      </div>
    </ng-template>

  </ng-template>

  <ng-template [ngIf]="(isLoadingTx && !error) || loadingCachedTx">
    <br>
    <ng-container *ngIf="flowEnabled">
      <div class="title">
        <h2 i18n="transaction.flow|Transaction flow">Flow</h2>
      </div>

      <div class="box">
        <div class="graph-container" #graphContainer style="visibility: hidden;"></div>
        <div class="row">
          <div class="col-sm">
            <table class="table table-borderless table-striped">
              <tbody>
                <tr>
                  <td><span class="skeleton-loader"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm">
            <table class="table table-borderless table-striped">
              <tbody>
                <tr>
                  <td><span class="skeleton-loader"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <br>
    </ng-container>

    <div class="title">
      <h2 i18n="transaction.inputs-and-outputs|Transaction inputs and outputs">Inputs & Outputs</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br>

    <div class="title">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="error && !loadingCachedTx">

    <div class="text-center" *ngIf="waitingForTransaction; else errorTemplate">
      <h3 i18n="transaction.error.transaction-not-found">Transaction not found.</h3>
      <h5 i18n="transaction.error.waiting-for-it-to-appear">Waiting for it to appear in the mempool...</h5>
      <div class="spinner-border text-light mt-2"></div>
    </div>

    <ng-template #errorTemplate>
      <app-http-error [error]="error">
        <span i18n="transaction.error.loading-transaction-data">Error loading transaction data.</span>
      </app-http-error>
    </ng-template>
  </ng-template>

</div>